{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}
<!---->
{% block title %} Join Us - Register {% endblock title %}
 {% block scripts %}
   <script src="{% static 'profiles/people.js' %}" defer></script>
{% endblock scripts %}

{% block css %}
    <link rel="stylesheet" href="{% static 'profiles/profiles.css' %}" />
{% endblock css %}

 {% block content %}    
   <div class="row m-auto">

   <div id="alertBox" >
    </div>

  <div class="col-lg-6 m-auto mt-2">
            <div class="card p-3 cardme" id="people">
    </div>
</div>

</div>
 {% endblock content %}