@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(16, 13, 19);
  color: white;
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(146, 138, 138);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(203, 28, 95);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(165, 43, 90);
}

#alertBox {
  position: fixed;
  top: 60px;
  right: 20px;
  transition: 2000ms ease-in;
}
.card {
  background-color: rgb(40, 31, 49);
  color: white;
}
.navs {
  background-color: rgb(40, 31, 49);
}
.navprofile {
  background-color: rgb(67, 50, 85);
  padding: 4px;
  max-width: 200px;
  border-radius: 10px;
}
.added {
  background-color: rgb(71, 207, 110);
  padding: 15px;
  color: white;
  border-radius: 10px;
  z-index: 10;
}
a {
  text-decoration: none;
  color: black;
}
#alertBox {
  z-index: 200;
}
.failed {
  background-color: rgb(233, 60, 74);
  color: white;
  border-radius: 10px;
  padding: 20px;
}
.cross {
  cursor: pointer;
  font-weight: 600;
  margin-right: 20px;
  color: rgb(219, 206, 226);
}
.cross:hover {
  color: rgb(38, 7, 59);
}
.not-visible {
  display: none;
}
.commentform {
  position: relative;
}
.comment-box {
  background: rgb(67, 50, 85);
  border-radius: 5px;
  border: none;
  outline: 0;
  padding: 13px 20px;
  width: 100%;
  filter: brightness(1.3);
  color: white;
  margin-top: 20px;
}
.comment-box:focus {
  background: rgb(67, 50, 85) !important;
  color: white;
}
.cmnt-post {
  background-color: #a824e0;
  padding: 10px;
  color: white;
  border: none;
  outline: 0 !important;
  border-radius: 5px;
  cursor: pointer;
}
.cmnt-postsm {
  background-color: #a824e0;
  padding: 5px;
  color: white;
  border: none;
  outline: 0 !important;
  border-radius: 5px;
  cursor: pointer;
}
.cmnt-post:hover,
.cmnt-postsm:hover {
  filter: brightness(1.3);
  color: snow;
}
.postcmnt {
  position: absolute;
  margin-top: 5px;
  top: 19px;

  right: 5px;
}

.cardme {
  width: 400px;
  border: none;
  z-index: 0;
  border-radius: 10px;
  background-color: rgb(38, 38, 58);
}

.stats {
  background: rgb(67, 50, 85) !important;
  color: rgb(227, 213, 213) !important;
}

.articles {
  font-size: 10px;
  color: #d7dde9;
}

.number1 {
  font-weight: 500;
}

.followers {
  font-size: 10px;
  color: #e1e5ec;
}

.number2 {
  font-weight: 500;
}

.rating {
  font-size: 10px;
  color: #d7dde8;
}

.number3 {
  font-weight: 500;
}
.author {
  color: rgb(165, 115, 212);
  text-transform: capitalize;
}
.author:hover {
  color: #a1aab9;
}
.card-info {
  position: relative;
}
.loadmore {
  background-color: #e0245e;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
}
.loadmoresm {
  background-color: #e0245e;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 4px;
}
.loadmore-outline {
  background-color: rgb(67, 50, 85);
  border: 1px solid #ef316d;
  padding: 10px;
  color: white;
  border-radius: 4px;
}
.loadmoresm-outline {
  background-color: rgb(67, 50, 85);
  border: 1px solid #ef316d;
  padding: 5px;
  color: white;
  border-radius: 4px;
}
.loadmore:hover,
.loadmoresm:hover,
.loadmoresm-outline:hover {
  background-color: #ef316d;
  color: snow;
}
.savepost {
  background-color: #624be2;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
}
.savepostsm {
  background-color: #624be2;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 4px;
}

.savepost:hover,
.savepostsm:hover {
  background-color: #705ae7;
  color: snow;
}
.search-box {
  background: rgb(32, 27, 54);
  border-radius: 5px;
  border: none;
  outline: 0;
  padding: 13px 20px;
  width: 100%;
  filter: brightness(1.3);
  color: white;
  margin-top: 20px;
}
.searchform {
  position: relative;
}
.resultdiv {
  position: absolute;
  background-color: rgb(47, 35, 59);
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: scroll;
  z-index: 232;
}

.search-result {
  position: relative;
  background-color: rgb(77, 56, 97);
  color: white;
  border-left: 7px solid rgb(141, 10, 180);
  padding: 0px;
}
.search-result:hover {
  border-left: 7px solid rgb(216, 113, 147);
  color: rgb(247, 182, 232);
}
.card-bodys {
  padding: 14px;
}
.card-footers {
  border-top: 1px dotted rgb(68, 47, 88);
  padding: 5px;
}
.modals-header {
  background-color: rgb(48, 37, 58);
  border-bottom: 7px solid rgb(115, 17, 172);
}
.modals {
  background-color: rgb(40, 31, 49);
}
.modals-footer {
  background-color: rgb(40, 31, 49);
  border-top: 7px solid rgb(115, 17, 172);
  margin-top: 5px;
}
.modals-delete {
  background-color: rgb(40, 31, 49);
  border-top: 7px solid rgb(115, 17, 172);
}

/* hover profile card */
.hoverme {
  position: relative;
}
.content {
  position: absolute;
  bottom: 35px;
  left: 20px;
  padding: 10px;
  min-width: 230px;
  background-color: rgb(25, 21, 48);
  border: 1px dotted rgb(211, 31, 91);
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
}
.hoverme:hover .content {
  visibility: visible;
  opacity: 1;
  transform: translateX(-15%) translateY(0px);
}
.bio {
  font-size: 11px;
}
.infoimg {
  width: 55px;
  max-height: 55px;
}
.com {
  background: rgb(17, 7, 26);
  padding: 10px;
  border: 1px dotted rgb(179, 17, 171);
}
.cmnt-delete {
  position: absolute;
  background-color: #ef316d;
  padding: 5px;
  border: none;
  border-radius: 4px;
  color: white;
  right: 10px;
  top: 10px;
}
