<nav class="navbar navbar-expand-lg navbar-dark navs">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'posts:main-board' %}">WeebBook</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:savelist' %}">Bookmarks</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        {% if request.user.is_authenticated %}
        <span style="postition: relative">
          <span class="btnhold d-flex">
          <a href="{% url 'profiles:inbox' %}" class="nav-link messageme btn-sm" id="message">
              <i class="fa fa-paper-plane"></i>
            </a>
            <button class="nav-link bell mx-2 " id="notifications">
              <i class="fa fa-bell"></i>
            </button>
            {% if not notifications.count  is 0 %}
            <span id="notifi_num" class="notnum">{{ notifications.count }} </span>

            {% endif %}
          </span>
          {% include 'posts/nav_notice.html' %}
        </span>
        <a class="nav-link author" href="{% url 'profiles:logout' %}"
          >Log Out</a
        >
        <span class="d-flex navprofile align-items-center">
          <a class="author" href="/{{request.user}}">
            <img
              src="{{request.user.profile.avatar.url}}"
              class="rounded-circle"
              width="35"
            />
          </a>
          <a class="nav-link author" href="/{{request.user}}"
            >{{request.user}}</a
          >
        </span>

        {% else %}
        <span class="d-flex navprofile align-items-center">
          <a class="author" href="/{{request.user}}">
            <img
              src="https://static8.depositphotos.com/1009634/1025/v/950/depositphotos_10255806-stock-illustration-no-user-profile-picture.jpg"
              class="rounded-circle"
              width="35"
            />
          </a>
          <a class="nav-link author" href="{% url 'profiles:login' %}">Guest</a>
        </span>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
